.success {
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #444649;
  padding: 0 0 4rem 0;
  img {
    margin-bottom: 0;
    width: 16rem;
    height: auto;

  }
  h1 {
    font-family: "Raleway";
    margin-bottom: 1rem;
  }
  p {
    margin: 3rem;
    font-size: 18px;
    text-align: center;
    line-height: 1.8rem;
  }
  .title_section_line {
    width: 5rem;
    border-bottom: 5px solid #d66869;
    margin: 0 auto;
  }
  .title_section {
    text-align: center;
    color: #444649;
    font-family: "Raleway";
    h1 {
      margin-bottom: 1rem;
    }
  }  
  .goBack {
    position: relative;
    padding: 0.5rem 1rem;
    border:  none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    color: white;
    background-color: #57c1c7;
    font-weight: 700;
    width: fit-content;
    text-decoration: none;
    transition: background-color .2s ease;
  }
  .goBack:hover {
    background-color: #81d5da;
  }
}

