$red: #d36668;
$background-blue: #1b242f;
$contact-background: #151b22;
$letter-light: #ffffff;
$letter-dark: #444649;
$button-blue: #57c1c7;
$button-blue-hover: #81d5da;
$footer-text: #969292;
$background-whitesmoke: whitesmoke;