.text_404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #444649;
  margin: 4rem 1rem;
  text-align: center;
  h1 {
    z-index: 1;
    font-size: 7rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
  }
  p {
    z-index: 1;
    font-size: 18px;
  }
  .not_found_button {
    z-index: 1;
    width: 9.5rem;
    margin: 0.5rem 1rem;
    font-weight: 700;
    text-align: center;
    background-color: #d66869;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  .not_found_button:hover {
    background-color: #e99394;
  }
}

.bubble {
  background: #57c1c7;
  border-radius: 50%;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  position: absolute;
  &:before, &:after {
    content: '';
    background: #57c1c7;
    border-radius: 50%;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
    position: absolute;
  }
  &:nth-child(1) {
    top: 15vh;
    left: 15vw;
    height: 11vmin;
    width: 11vmin;
    &:before {
      width: 10vmin;
      height: 10vmin;
      bottom: -23vh;
      right: 3vmin;
    }
  }
  &:nth-child(2) {
    top: 20vh;
    left: 38vw;
    height: 10vmin;
    width: 10vmin;
    &:before {
      width: 5vmin;
      height: 5vmin;
      bottom: -10vh;
      left: -8vmin;
    }
  }
  &:nth-child(3) {
    top: 12vh;
    right: 30vw;
    height: 10vmin;
    width: 10vmin;
    // &:before {
    //   width: 3vmin;
    //   height: 3vmin;
    //   bottom: -15vh;
    //   left: -18vmin;
    //   z-index: 6;
    // }
  }
  &:nth-child(4) {
    top: 25vh;
    right: 18vw;
    height: 11vmin;
    width: 11vmin;
    &:before {
      width: 7vmin;
      height: 7vmin;
      bottom: -10vmin;
      left: -15vmin;
    }
  }
}