body {
  font-family: "Raleway";
  color: #444649;
  -webkit-tap-highlight-color: transparent
}
p {
  line-height: 1.5rem;
}
input:focus {
  outline: transparent;
}

.languages {
  position: fixed;
  right: 1rem;
  top: 0.8rem;
  color: white;
  z-index: 3;
  cursor: pointer;
}

// home

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b242f;
  color: white;
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.greeting__name {
  color: #d36668;
  font-weight: 600;
}

  .more {
    color: white;
    background: none;
    font-size: 1.5rem;
    outline: none;
    position: absolute;
    bottom: 3rem;
    
  p {
    margin-bottom: 0;
  }
}

// about
.title_section {
  text-align: center;
  color: #444649;
  font-family: "raleway-bold";
  h1 {
    margin-bottom: 1rem;
  }
}
.title_section_line {
  width: 5rem;
  border-bottom: 5px solid #d36667;
  margin: 0 auto;
}
.about {
  // height: 94vh;
  padding: 1rem;
}
.circles_container {
  display: flex;
  margin: 4rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.circle_container {
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.circle {
  width: 6rem;
  height: 6rem;
  background: #04c2c9;
  border-radius: 50%;
  position: relative;
}
.circle_text {
  margin-top: 2rem;
  font-size: 16px;
}
.responsive_icon {
  width: 4rem;
  position: absolute;
  top: 1rem;
  height: auto;
  left: 1rem;
  
  path {
    fill: white;
  }
}


.aboutme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
}

.aboutme_text {
  max-width: 36rem;
}

.aboutme_image_container {
  width: 18rem;
  padding: 0.5em;
  border: 0.25em solid #04c2c9;
  position: relative;
  margin: 3rem;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    background: #fff;
  }
  
  &::before {
    top: -0.3em; // let it overlap a bit to prevent thin line which could appear during scaling in some browsers etc.
    bottom: -0.3em;
    left: 1em;
    right: 1em;
  }
  
  &::after{
    left: -0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
  }
  
  // you need this to move the text in front of the ::after overlay
  .aboutme_image {
    position: relative;
    z-index: 1;
    margin: 0;
  }
}


// CONTACT

.contact {
  // background-color: #f5f5f5;
  padding: 1rem;
  background-color: #1b242f;
  position: relative;

  .title_section {
    margin-top: 7rem;
    color: white;
  }
}
.white_triangle {
  position: absolute;
  top: 0;
  left: 0;
}

.form {
  margin: 4rem auto;
}
.form_inputs {
  display: flex;
  flex-direction: column;
  max-width: 26rem;
  margin: 0 auto;

  input, textarea {
    border-color: transparent;
    margin: 0.1rem;
    padding: 0.4rem;
    resize: none;
  }
}

.form_buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  
  li {
    list-style: none;
    margin: 1rem;
    
    .form_button_send {
      background: none;
      padding: 0.5rem;
      color: white;
      cursor: pointer;
      border: 1px solid;
    }
    .form_button_clear {
      background: none;
      padding: 0.5rem;
      color: #d36667;
      cursor: pointer;
      border: 1px solid #d36667;
    }
  }
}

footer {
  background: #151b22;
}
.social {
  display: flex;
  max-width: 20rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    path {
      fill: #d1d1d1;;
    }
  }
}
.footer_text {
  margin: 0;
  text-align: center;
  padding-bottom: 1rem;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b242f;
  color: #fff;

  h1 {
    margin-bottom: 1rem;
  }
  p {
    margin: 3rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5rem;
  }
  .goBack {
    text-decoration: none;
    padding: 0.8rem;
    font-weight: bold;
    color: white;
    border: 1px solid;
  }
}
.projects {
  // background-color: #f5f5f5;
  padding: 1rem;
}
.projects_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4rem 0;
  
  div {
    width: 17rem;
    height: 13rem;
    background-color: white; 
    margin: 2rem 3rem;
  }
}

.project_image {
  object-fit: cover;
  width: 100%;
  height: auto;
  height: 13rem;
}