@import '../../styles/variables';

.home {
  height: 100vh;
  background-color: $background-blue;
  color: $letter-light;
  font-size: 2.5rem;
  line-height: 3.5rem;
  padding: 0 1rem;
  text-align: center;

  @media only screen and (max-width: 650px) {
    font-size: 2rem;
    div:first-child {
      padding-bottom: 3rem;
    }
  }
}
.greeting {
  padding-top: 20vh;
  max-width: 41rem;
  text-align: left;
  margin: 0 auto;
  text-align: center;
  @media only screen and (min-width: 321px) {
    padding-top: 28vh;
  }
  @media only screen and (min-width: 840px) {
    text-align: left;
    width: 42rem;
    max-width: unset;
    padding-top: 40vh;
  }
  @media only screen and (min-width: 840px) {
    padding-left: 2rem;
  }
}
.greeting__name {
  color: $red;
  font-weight: 600;
  display: inline-block;
}
.more {
  color: $letter-light;
  background: none;
  font-size: 1.5rem;
  outline: none;
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
    
  p {
    margin-bottom: 0;
  }
  @media only screen and (max-width: 650px) {
    p {
      display: none;
    }
  }
}
