@import '../../styles/variables';

.contact {
  padding: 1rem;
  background-color: $background-blue;
  position: relative;

  .title_section {
    margin-top: 7rem;
    color: $letter-light;
  }
  .white_triangle {
    position: absolute;
    top: -1px;
    left: 0;
  }
}
.title_section {
  text-align: center;
  color: $letter-dark;
  font-family: 'Raleway';
  h1 {
    margin-bottom: 1rem;
  }
}
.title_section_line {
  width: 5rem;
  border-bottom: 5px solid $red;
  margin: 0 auto;
}
