@import '../../styles/variables';

footer {
  background: $contact-background;
}
.social {
  display: flex;
  max-width: 16rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    path {
      fill: white;
    }
  }
}
.footer_text {
  margin: 0;
  text-align: center;
  padding-bottom: 1rem;
  color: $footer-text;
}
